*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log

# 排除SDK离线包和工具
地图/
__MACOSX/
*.zip
*.exe
